{% load static %}
<footer>
    <div class="footer-container mt-5">
        <div class="row">
            <div class="col">
                <img src="" alt="">
                <p style="color: #791901;">© 2025 Jewelry. All rights reserved.</p>
                <p style="color: #791901;">Crafted with care, designed to shine.</p>
                <p style="color: #791901;">Follow us on social media for exclusive offers and updates.</p>
            </div>
            <div class="col">
                <p><a href="#" style="color: #791901; ">@EnchanteLuxuryJewelry</a></p>
                <p><a href="#" style="color: #791901;">@EnchanteJewelryBoutique</a></p>
                <p><a href="#" style="color: #791901;">+335 46 72 411</a></p>
                <p><a href="{% url 'termsPage' %}" style="color: #791901;">Terms and Conditions</a></p>
            </div>
            <div class="col">
                <p style="color: rgb(226, 25, 92);"><a href="#" style="color: rgb(226, 25, 92);"><i class="fa-brands fa-instagram"></i></a>  Instagram</p>
                <p style="color: blue;"><a href="#" style="color: blue;"><i class="fa-brands fa-facebook"></i></a>  Facebook</p>
                <p style="color: green;"><a href="#" style="color: green;"><i class="fa-brands fa-whatsapp"></i></a>  Whatsapp</p>
            </div>
            <div class="col">
                <h4 style="color: #791901;">Subscribe</h4>
                <form>
                    <div class="mb-3">
                        <label for="email" class="form-label" style="color: #791901;">Email</label>
                        <input type="email" class="form-control" id="email">
                    </div>
                    <input type="submit" style="color: #58928f;" class="btn btn-outline-primary" value="Send">
                </form>
            </div>
            <div class="col-12">
                <p style="color: #791901;">Copyrights: <span id="year"></span></p>
            </div>
        </div>
    </div>
</footer>