{% extends 'index.html' %}
{% load static %}
{% block content %}

<body>
    <div class="terms">
        <br>
        <h1 style="color: rgb(5, 5, 73);">Welcome to Enchante Jewelry!</h1> <br> <br>
        <h3 style="color: rgb(5, 5, 73);">By using our website, you agree to be bound by the following Terms and
            Conditions, which govern the use of our
            site and all transactions. Please read them carefully:
        </h3>
        <hr style="color: brown;"><br>

        <h4 style="color: rgb(5, 5, 73);">1.General Terms:</h4><br>
        <p>To use this website and place an order, you must be at least 18 years of age or the age of majority in your
            jurisdiction. You must also be a legal resident of the country where we provide shipping services.
        </p>

        <p>To purchase products or access certain features of our website, you may be required to create an account.
            When
            registering, you must provide accurate and complete information. You are responsible for maintaining the
            confidentiality of your account information and for all activities that occur under your account. If you
            believe
            your account has been compromised, please notify us immediately.
        </p>

        <p>You agree to maintain the security of your account by keeping your login information confidential. You are
            responsible for all activities under your account, and we are not liable for any unauthorized access.
        </p>

        <hr style="color: brown;"><br>

        <h4 style="color: rgb(5, 5, 73);">2. Products and Pricing:</h4><br>
        <p>We strive to provide accurate product descriptions and images. However, the details, including prices,
            specifications, and availability, are subject to change at any time without notice.
        </p>

        <p>All prices displayed on the website are in [Currency] and may exclude taxes or shipping fees, which will be
            calculated at checkout. We reserve the right to modify the prices at any time without prior notice. You will
            be
            charged the price displayed on the website at the time your order is placed.
        </p>

        <p>Product availability is not guaranteed. We may limit or modify the quantity of products available for sale at
            our
            discretion. We reserve the right to discontinue products at any time.
        </p>

        <hr style="color: brown;"><br>

        <h4 style="color: rgb(5, 5, 73);">3. Orders and Payment:</h4><br>
        <p>To place an order, select the items you wish to purchase and proceed to checkout. You must provide accurate
            information such as size, color, and shipping details. Once your order is placed, you will receive an order
            confirmation via email.
        </p>

        <p>An order is considered accepted once payment has been processed. We reserve the right to cancel or refuse any
            order at our discretion, such as due to pricing errors or product availability.
        </p>

        <p>We accept the following payment methods:
        <ul>
            <li>Credit Cards (Visa, MasterCard, American Express);</li>
            <li>PayPal;</li>
            <li>Other Methods;</li>
        </ul>
        </p>

        <p>If there is an error in the transaction or pricing, we will notify you immediately. We reserve the right to
            correct any errors, and if applicable, issue a refund or request additional payment.
        </p>

        <hr style="color: brown;"><br>

        <h4 style="color: rgb(5, 5, 73);">4. Shipping and Delivery:</h4><br>
        <p>We offer domestic and international shipping. Shipping methods and expected delivery times will be provided
            at
            checkout. Please note that delivery times may vary depending on your location.
        </p>

        <p>Shipping fees are calculated at checkout based on the shipping method chosen and delivery location. Free
            shipping
            may be offered on orders over a certain amount, which will be specified at checkout.
        </p>

        <p>Once your order is shipped, we will send you a tracking number to monitor your package. Please check your
            email
            for tracking details.
        </p>

        <hr style="color: brown;"><br>

        <h4 style="color: rgb(5, 5, 73);">5. Returns and Refunds:</h4><br>
        <p>We accept returns on unworn and undamaged jewelry within 30 days of purchase. Customized or final sale items
            are
            non-returnable. To initiate a return, please contact us.
        </p>

        <p>Once we receive the returned item, we will process the refund to the original payment method within 7
            business
            days. Return shipping costs are the responsibility of the customer unless the item is defective.
        </p>

        <p>We offer exchanges for defective products or if the wrong item was received. Exchanges must be requested
            within
            30 days of purchase.
        </p>

        <hr style="color: brown;"><br>

        <h4 style="color: rgb(5, 5, 73);">6. Warranty and Guarantee:</h4><br>
        <p>Our jewelry comes with a warranty covering manufacturing defects for up to 12 months from the date of
            purchase.
            This warranty does not cover damages caused by accidents, misuse, or wear and tear.
        </p>

        <p>The warranty does not cover damages from improper care, accidents, exposure to chemicals, or modifications to
            the
            jewelry.
        </p>

        <hr style="color: brown;"><br>

        <h4 style="color: rgb(5, 5, 73);">7. Intellectual Property:</h4><br>
        <p>All content on this website, including but not limited to images, text, logos, graphics, and product
            descriptions, is protected by copyright and trademark laws. You may not copy, modify, distribute, or use any
            of
            our content without express written permission.
        </p>

        <h4 style="color: rgb(5, 5, 73);">8. Limitation of Liability:</h4><br>
        <p>We are not responsible for any direct, indirect, incidental, or consequential damages resulting from the use
            of
            our website or products. We are not liable for damages arising from product defects, delays, or lost
            shipments.
        </p>

        <hr style="color: brown;"><br>

        <h4 style="color: rgb(5, 5, 73);">9. Privacy Policy:</h4><br>
        <p>We value your privacy. Please review our [Privacy Policy] to understand how we collect, store, and use your
            personal information. By using our website, you consent to our Privacy Policy.
        </p>

        <hr style="color: brown;"><br>

        <h4 style="color: rgb(5, 5, 73);">10. Changes to Terms and Conditions:</h4><br>
        <p>We reserve the right to update or modify these Terms at any time. Changes will be posted on this page, and we
            may
            notify you via email or through a notice on the website. Please review these Terms periodically to stay
            informed
            about any updates.
        </p>

        <hr style="color: brown;"><br>

        <h4 style="color: rgb(5, 5, 73);">11. Governing Law and Dispute Resolution:</h4><br>
        <p>These Terms are governed by the laws of [State/Country], without regard to its conflict of law principles.
        </p>

        <hr style="color: brown;"><br>

        <h4 style="color: rgb(5, 5, 73);">12. Contact Information:</h4><br>
        <p>If you have any questions or concerns regarding these Terms and Conditions, please contact us at:
        <ul>
            <li>Email: enchantejewerly@gmail.com;</li>
            <li>Phone: +335 46 72 411;</li>
        </ul>
        </p> <br>


        <div class="endterms">
            <p>If you have any questions or concerns regarding these Terms and Conditions, please contact us using the
                following information:</p>
            <ul>
                <li>Email: <a href="support@enchantejewerly.com">support@enchantejewerly.com</a></li>
                <li>Phone: +1 (555) 123-4567</li>
            </ul> <br>

            <p>Any disputes arising out of or related to these Terms and Conditions will be governed by the laws of
                State/Country.In the event of a dispute, the parties agree to attempt to resolve the issue through
                mediation.
                You agree that any legal action or proceeding related to these Terms and Conditions shall be brought
                exclusively in the courts of our locations, and you consent to the personal jurisdiction and venue of
                such
                courts.
            </p>
            <p>We reserve the right to modify these Terms and Conditions at any time. Any changes will be posted on this
                page, and the date of the most recent revision will be updated below.
                It is your responsibility to review these Terms and Conditions periodically to stay informed of any
                updates. Continued use of our services after the posting of updated Terms will be deemed acceptance of
                the modified Terms.
            </p>
            <p>The effective date of these Terms and Conditions is: <strong>January 11, 2025</strong>.</p><br>

            <form action="/submit" method="post">
                <label>
                    <input type="checkbox" name="acceptance" required> I have read and agree to the <a
                        href="/terms">Terms
                        and Conditions</a>.
                </label>
                <br><br>
                <input type="submit" style="color: #58928f;" class="btn btn-outline-primary" value="submit">
            </form>
        </div>

    </div>

</body>

{% endblock %}